.default, .correct, .wrong, .wrong-location {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  margin: 0.1rem;
  border-radius: 5px;
  border-color: #E5E5E5;
}

.correct {
  color: white;
  background-color: rgb(99, 199, 99);
}

.wrong-location {
  color: #8B8B8B;
  background-color: yellow;
}

.wrong {
  color: white;
  background-color: lightgray;
}

