.default,
.correct,
.wrong,
.blank,
.wrong-location {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  padding: 0.1rem;
  border-radius: 5px;
  border-color: #e5e5e5;
}

.correct {
  color: white;
  background-color: rgb(99, 199, 99);
}

.wrong-location {
  color: #8b8b8b;
  background-color: yellow;
}

.wrong {
  color: white;
  background-color: lightgray;
}

.blank {
  color: #d4d4d4;
  background-color: #d4d4d4;
}