letter-default, .letter-correct, .letter-wrong, .letter-wrong-location {
  font-size: inherit;
  font-weight: bold;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  color: #8b8b8b;
  text-transform: uppercase;
  border-radius: 0.25em;
}

.letter-default > svg, .letter-correct > svg, .letter-wrong > svg, .letter-wrong-location > svg {
  width: 1.75em;
  height: 1.75em;
}

.letter-correct {
  color: white;
  background-color: rgb(99, 199, 99);
}

.letter-wrong-location {
  color: #8B8B8B;
  background-color: yellow;
}

.letter-wrong {
  color: white;
  background-color: lightgray;
}
