.randomLetter {
  font-size: inherit;
  font-weight: bold;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8b8b8b;
  text-transform: uppercase;
  border-radius: 0.25em;
}

.randomLetter > svg {
  width: 1.75em;
  height: 1.75em;
}
