.randomLetter {
  font-size: inherit;
  font-weight: bold;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  color: #8b8b8b;
  text-transform: uppercase;
  border-radius: 0.25em;
  /* cursor: pointer; */
  /* user-select: none; */
}

.randomLetter > svg {
  width: 1.75em;
  height: 1.75em;
}
