:root {
  --row-length: 8;
}

.letterBucket {
  display: grid;
  grid-template-columns:repeat(var(--row-length), minmax(auto, 2.5em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
  padding: 0.1rem;
}
