#score {
  text-align: center;
  font-size: 4rem;
  color: #8B8B8B;
  margin-top: 7rem;
  margin-left: 8.5rem;
  background-color: #E9E9E9;
  border-radius: 25px;
  width: clamp(2.5rem, 20.5vmin, 40.5rem);
  height: clamp(2.5rem, 10.5vmin, 20.5rem);
}