body {
  background-color: #f3f3ec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

@font-face {
  font-family: "Post No Bills Jaffna Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Post No Bills Jaffna Regular"),
    url("./post-no-bills-jaffna-cufonfonts-webfont/PostNoBillsJaffna-Regular.woff")
      format("woff");
}

h1 {
  color:#8B8B8B;
  font-family: 'Post No Bills Jaffna Regular';
  font-size: 6rem;
  margin: 0px;
  margin-top: -1.5rem;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(119, 103, 103, 0.2), 0 6px 20px 0 rgba(50, 75, 59, 0.19);
}

.coordMatch {
  color: black;
  font-size: 2rem;
  background-color: #f5ea70;
}
.close {
  color: #8b8b8b;
  font-size: 2rem;
}
.noMatch {
  color: #8b8b8b;
  font-size: 2rem;
}
.fixedChar {
  color: rgb(99, 199, 99);
  font-size: 2rem;
}

.appHeader {
  text-align: center;
}

.container {
  padding: 25px;
  text-align: center;
  position: relative;
}

#check-solution {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #8B8B8B;
  background-color: #F3F3EC;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#check-solution:hover {
  background-color: rgb(99, 199, 99);
  color: #E9E9E9;
}

#check-solution:active {
  background-color: rgb(99, 199, 99);
  color: #E9E9E9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#score-label, #correct-cells-label {
  color: #8B8B8B;
  font-weight: bold;
}

.correctCells {
  text-align: center;
  color: #8b8b8b;
  background-color: #F3F3EC;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(119, 103, 103, 0.2) inset;
}