body {
  background-color: #f3f3ec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

@font-face {
  font-family: "Post No Bills Jaffna Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Post No Bills Jaffna Regular"),
    url("./post-no-bills-jaffna-cufonfonts-webfont/PostNoBillsJaffna-Regular.woff")
      format("woff");
}

h1 {
  color:#8B8B8B;
  font-family: 'Post No Bills Jaffna Regular';
  font-size: 6rem;
  margin: 0px;
  margin-top: -1.5rem;
  text-align: center;
}

#column {
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
  border-radius: 25px;
}

.coordMatch {
  color: #f5ea70;
  font-size: 2rem;
  background-color: black;
}
.close {
  color: #8b8b8b;
  font-size: 2rem;
}
.noMatch {
  color: #8b8b8b;
  font-size: 2rem;
}
.fixedChar {
  color: rgb(99, 199, 99);
  font-size: 2rem;
}

.appHeader {
  text-align: center;
}

.container {
  padding: 25px;
  text-align: center;
  position: relative;
}

#check-solution {
  text-align: center;
  font-weight: bold;
  color: #8B8B8B;
  background-color: #F3F3EC;
  border-radius: 25px;
}

#score-label, #correct-cells-label {
  color: #8B8B8B;
  font-weight: bold;
}

.correctCells {
  text-align: center;
  color: #8b8b8b;
  background-color: #F3F3EC;
  border-radius: 25px;
}

.default {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
}

.correct {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: rgb(99, 199, 99);
}

.wrong-location {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: black;
  background-color: yellow;
}

.wrong {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: lightgray;
}

.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
