body {
  background-color: #F3F3EC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

@font-face {
  font-family: 'Post No Bills Jaffna Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna Regular'), url('./post-no-bills-jaffna-cufonfonts-webfont/PostNoBillsJaffna-Regular.woff') format('woff');
  }

h1 {
  color:#8B8B8B;
  font-family: 'Post No Bills Jaffna Regular';
  font-size: 5rem;
  margin: 0px;
  margin-top: -3rem;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.coordMatch {
  color: #f5ea70;
  font-size: 2rem;
 
}
.close {
  color: #8B8B8B;
  font-size: 2rem;
}
.noMatch {
  color: #8B8B8B;
  font-size: 2rem;
}
.fixedChar {
  color: rgb(99, 199, 99);
  font-size: 2rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.appHeader {
  text-align: center;
}

.container {
  padding: 25px;
  text-align: center;
  position: relative;
  
}

#check-solution {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8B8B8B;
  margin-top: 1rem;
  margin-left: 5rem;
  background-color: #E9E9E9;
  border-radius: 25px;
  width: clamp(2.5rem, 20.5vmin, 40.5rem);
  height: clamp(2.5rem, 10.5vmin, 20.5rem);
}

.correctCells {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8B8B8B;
  margin-top: -3.5rem;
  margin-left: 10rem;
  background-color: #E9E9E9;
  border-radius: 25px;
  width: clamp(2.5rem, 20.5vmin, 40.5rem);
  height: clamp(2.5rem, 10.5vmin, 20.5rem);
}

.field {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
}

.correct {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: rgb(99, 199, 99);
}
